name: Basic CI

on:
  push:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
First, we run npm run coverage to generate the coverage/ folder.
      - name: Generate coverage report
        run: npm run coverage
       // Then, we use upload-artifact to save the coverage/ folder on GitHub as an artifact.        

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage

